.img-center {
    margin: 0 auto;
}

.img-resize-6 { 
    height: 250px;
    width: 175px;
}

.img-resize-4 { 
    height: 25%;
    width: 20%;
}

#services {
    background-color: #fafafa;
    height: 100%;
}

#the-team {
    background: url(../img/rutgers.jpeg) no-repeat center center;
    background-size: 45%;
    background-position: center center;
    background-repeat: no-repeat;
}

#contact-us {
    background-color: #f5f5f5;
    height:100%;
}

#search-form {
    height: 70%;
}

.search-text { 
    font-size: 2.5em; 
    width: 45%;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: black;
}

#search-btn { 
    font-size: 2.5em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.scarlet { 
    color: red;
}

.title {
    font-size: 2.5em;
    padding-bottom: 2%;
}

#create-review {
    margin: 2% auto;
}

.review-content { 
    margin: 1% auto;
    border: 2px black solid;
    border-radius: 5px;
    padding: 2%;
    font-size: 1.5em;
}

.size-1-5 {
    font-size: 1.5em;
}

.services-heading { 
    font-size: 2.0em;
    color: #f00;
}

.message {
    padding-bottom: 20px;
    color: #000;
    font-size: 1.3em;
}

.border { 
    border: 2px black solid;
    border-radius: 15px; 
}

.v-center { 
    transform: translate(0, 50%);
}

form { 
    margin: 3% auto;
}

.input { 
    display: block;
    border: none;
    margin: 0 auto; 
}

.input-text {
    text-align: center;
    font-size: 1.4em;  
    border-bottom: 1px #f0f0f0 solid;
    margin-top: 25px;
}

.button { 
    margin: 1% 0;
}

.input-label {
    margin-top: 25px;
    font-size: 1.3em;
    color: #9f9f9f;
}

.input-select { 
    text-align: center;
    font-size: 1.4em;
    width: 15%;
}

.input-option { 
    font-size: 1.3em;
    text-align: center;
}